<script>
  import { onMount } from "svelte";

  var data = {
    x: [0, 1, 2, 3, 4, 5],
    y: [0, 1, 4, 9, 16, 25],
  };

  let currentHover = "";

  function addPoint() {
    var newX = data.x[data.x.length - 1] + 1;
    data.x = [...data.x, newX];
    data.y = [...data.y, newX * newX];
    Plotly.redraw("plotly");
  }

  onMount(() => {
    let plot = document.getElementById("plotly");
    new Plotly.newPlot("plotly", [data], { margin: { t: 0 } });
    plot.on("plotly_hover", (data) => {
      currentHover = data.points[0].x;
    });
  });
</script>

<main>
  <h1>Hello!</h1>
  <button on:click={addPoint}>Add</button>
  <div>{currentHover}</div>
  <div id="plotly" style="width:600px;height:250px;" />
</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>
